.elementor-2689 .elementor-element.elementor-element-910f748{overflow:hidden;padding:10% 08% 3% 08%;z-index:5;}.elementor-bc-flex-widget .elementor-2689 .elementor-element.elementor-element-61811139.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-2689 .elementor-element.elementor-element-61811139.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-2689 .elementor-element.elementor-element-61811139.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-2689 .elementor-element.elementor-element-61811139 > .elementor-element-populated{padding:0% 0% 0% 0%;}.elementor-2689 .elementor-element.elementor-element-32963b36{text-align:center;width:auto;max-width:auto;}.elementor-2689 .elementor-element.elementor-element-32963b36 .elementor-heading-title{color:#FFFFFF;font-family:"Sk-Modernist", Sk-Modernist;font-size:18px;font-weight:600;}.elementor-2689 .elementor-element.elementor-element-32963b36 > .elementor-widget-container{margin:0px 0px 0px -35px;padding:0% 0% 0% 0%;}.elementor-2689 .elementor-element.elementor-element-2e368c61{text-align:center;}.elementor-2689 .elementor-element.elementor-element-2e368c61 .elementor-heading-title{color:#FFFFFF;font-family:"Sk-Modernist", Sk-Modernist;font-size:64px;font-weight:600;}.elementor-2689 .elementor-element.elementor-element-2e368c61 > .elementor-widget-container{margin:0px 0px 0px -35px;padding:0% 0% 0% 0%;}.elementor-2689 .elementor-element.elementor-element-718c7ac3 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-2689 .elementor-element.elementor-element-5730ef4{text-align:right;top:3%;}.elementor-2689 .elementor-element.elementor-element-5730ef4 img{width:87%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-5730ef4{left:0%;}body.rtl .elementor-2689 .elementor-element.elementor-element-5730ef4{right:0%;}.elementor-2689 .elementor-element.elementor-element-3b296ee{text-align:center;top:43%;}.elementor-2689 .elementor-element.elementor-element-3b296ee img{width:87%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-3b296ee{left:0%;}body.rtl .elementor-2689 .elementor-element.elementor-element-3b296ee{right:0%;}.elementor-2689 .elementor-element.elementor-element-484a5082{text-align:right;width:auto;max-width:auto;top:18.5%;}.elementor-2689 .elementor-element.elementor-element-484a5082 .elementor-heading-title{font-family:"Sk-Modernist", Sk-Modernist;font-size:36px;font-weight:600;}.elementor-2689 .elementor-element.elementor-element-484a5082 > .elementor-widget-container{padding:0% 0% 0% 0%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-484a5082{right:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-484a5082{left:2%;}.elementor-2689 .elementor-element.elementor-element-48811e40{text-align:right;width:auto;max-width:auto;top:66.5%;}.elementor-2689 .elementor-element.elementor-element-48811e40 .elementor-heading-title{font-family:"Sk-Modernist", Sk-Modernist;font-size:36px;font-weight:600;}.elementor-2689 .elementor-element.elementor-element-48811e40 > .elementor-widget-container{padding:0% 0% 0% 0%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-48811e40{right:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-48811e40{left:2%;}.elementor-2689 .elementor-element.elementor-element-10c80296{text-align:right;color:#BBCCDB;font-family:"Sk-Modernist", Sk-Modernist;font-size:18px;font-weight:400;line-height:1.6em;top:22%;}.elementor-2689 .elementor-element.elementor-element-10c80296 > .elementor-widget-container{padding:0% 0% 0% 18%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-10c80296{right:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-10c80296{left:2%;}.elementor-2689 .elementor-element.elementor-element-1a208e73{text-align:right;color:#BBCCDB;font-family:"Sk-Modernist", Sk-Modernist;font-size:18px;font-weight:400;line-height:1.6em;top:71%;}.elementor-2689 .elementor-element.elementor-element-1a208e73 > .elementor-widget-container{padding:0% 0% 0% 20%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-1a208e73{right:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-1a208e73{left:2%;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-line{width:5px;margin-left:-25px;background:#d7e4ed;margin-top:0px;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-line .eael-content-timeline-inner{width:5px;background:#00FF9B;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-content{background:#F1F2F300;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;text-align:left;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-content::before{border-left-color:#F1F2F300;border-right-color:#F1F2F300;border-width:10px;top:24%;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-img{width:62px;height:62px;margin-top:0px;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-img i{font-size:0px;color:#fff;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-img .content-timeline-bullet-svg{height:0px;width:0px;}.elementor-2689 .elementor-element.elementor-element-70754480 ..eael-content-timeline-line .eael-content-timeline-inner{margin-top:0px;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-img.eael-picture{border-width:0px;background:#f1f2f3;border-color:#f9f9f9;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-block.eael-highlight .eael-content-timeline-img.eael-picture{background:#3CCD94;border-color:#fff;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-block.eael-highlight .eael-content-timeline-img i{color:#fff;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-content .eael-timeline-title{color:#303e49;text-align:left;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-content .eael-timeline-title a{color:#303e49;text-align:left;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-content p{color:#333;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-content .eael-date{color:#4d4d4d;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-content .eael-read-more{color:#fff;background:#3CCD94;}.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-content .eael-read-more:hover{color:#f9f9f9;background:#bac4cb;}.elementor-2689 .elementor-element.elementor-element-70754480 > .elementor-widget-container{margin:-80% -80% 0% 0%;}.elementor-2689 .elementor-element.elementor-element-333023c8 .elementor-heading-title{font-family:"Sk-Modernist", Sk-Modernist;font-size:36px;font-weight:600;}.elementor-2689 .elementor-element.elementor-element-333023c8 > .elementor-widget-container{padding:0% 0% 0% 0%;}.elementor-2689 .elementor-element.elementor-element-333023c8{width:auto;max-width:auto;top:1.6%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-333023c8{left:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-333023c8{right:2%;}.elementor-2689 .elementor-element.elementor-element-5a6a25b6{text-align:left;color:#BBCCDB;font-family:"Sk-Modernist", Sk-Modernist;font-size:18px;font-weight:400;line-height:1.6em;top:6%;}.elementor-2689 .elementor-element.elementor-element-5a6a25b6 > .elementor-widget-container{padding:0% 20% 0% 0%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-5a6a25b6{left:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-5a6a25b6{right:2%;}.elementor-2689 .elementor-element.elementor-element-f4273bb{text-align:left;top:20%;}.elementor-2689 .elementor-element.elementor-element-f4273bb img{width:87%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-f4273bb{left:0%;}body.rtl .elementor-2689 .elementor-element.elementor-element-f4273bb{right:0%;}.elementor-2689 .elementor-element.elementor-element-d4eb20b{text-align:right;top:68%;}.elementor-2689 .elementor-element.elementor-element-d4eb20b img{width:87%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-d4eb20b{left:0%;}body.rtl .elementor-2689 .elementor-element.elementor-element-d4eb20b{right:0%;}.elementor-2689 .elementor-element.elementor-element-7353bec9{text-align:left;color:#BBCCDB;font-family:"Sk-Modernist", Sk-Modernist;font-size:18px;font-weight:400;line-height:1.6em;top:93.5%;}.elementor-2689 .elementor-element.elementor-element-7353bec9 > .elementor-widget-container{padding:0% 00% 0% 0%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-7353bec9{left:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-7353bec9{right:2%;}.elementor-2689 .elementor-element.elementor-element-c7ed72c{text-align:left;color:#BBCCDB;font-family:"Sk-Modernist", Sk-Modernist;font-size:18px;font-weight:400;line-height:1.6em;top:46%;}.elementor-2689 .elementor-element.elementor-element-c7ed72c > .elementor-widget-container{padding:0% 00% 0% 0%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-c7ed72c{left:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-c7ed72c{right:2%;}.elementor-2689 .elementor-element.elementor-element-f1f18e2{text-align:left;width:auto;max-width:auto;top:42.5%;}.elementor-2689 .elementor-element.elementor-element-f1f18e2 .elementor-heading-title{font-family:"Sk-Modernist", Sk-Modernist;font-size:36px;font-weight:600;}.elementor-2689 .elementor-element.elementor-element-f1f18e2 > .elementor-widget-container{padding:0% 0% 0% 0%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-f1f18e2{left:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-f1f18e2{right:2%;}.elementor-2689 .elementor-element.elementor-element-2cc43a5{text-align:left;width:auto;max-width:auto;top:90.5%;}.elementor-2689 .elementor-element.elementor-element-2cc43a5 .elementor-heading-title{font-family:"Sk-Modernist", Sk-Modernist;font-size:36px;font-weight:600;}.elementor-2689 .elementor-element.elementor-element-2cc43a5 > .elementor-widget-container{padding:0% 0% 0% 0%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-2cc43a5{left:2%;}body.rtl .elementor-2689 .elementor-element.elementor-element-2cc43a5{right:2%;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-line{width:5px;margin-left:-0px;background:#d7e4ed;margin-top:8px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-line .eael-content-timeline-inner{width:5px;background:#3CCD94;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content{background:#F1F2F300;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;text-align:left;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content::before{border-left-color:#F1F2F300;border-right-color:#F1F2F300;border-width:10px;top:24%;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img{width:40px;height:40px;margin-top:8px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img i{font-size:14px;color:#FFFFFF;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img .content-timeline-bullet-svg{height:14px;width:14px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 ..eael-content-timeline-line .eael-content-timeline-inner{margin-top:8px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img.eael-picture{border-width:6px;background:#F1F2F300;border-color:#F9F9F900;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-block.eael-highlight .eael-content-timeline-img.eael-picture{background:#3CCD94;border-color:#fff;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-block.eael-highlight .eael-content-timeline-img i{color:#fff;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content .eael-timeline-title{color:#BBCCDB;text-align:left;font-family:"Sk-Modernist", Sk-Modernist;font-weight:600;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content .eael-timeline-title a{color:#BBCCDB;text-align:left;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content p{color:#BBCCDB;font-family:"Sk-Modernist", Sk-Modernist;font-weight:400;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content .eael-date{color:#BBCCDB;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content .eael-read-more{color:#fff;background:#3CCD94;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content .eael-read-more:hover{color:#f9f9f9;background:#bac4cb;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 > .elementor-widget-container{margin:-80% -80% 0% 0%;}@media(min-width:768px){.elementor-2689 .elementor-element.elementor-element-718c7ac3{width:45%;}.elementor-2689 .elementor-element.elementor-element-69d1824f{width:7%;}.elementor-2689 .elementor-element.elementor-element-59333787{width:47.666%;}}@media(max-width:1024px){.elementor-2689 .elementor-element.elementor-element-910f748{margin-top:0px;margin-bottom:0px;}.elementor-2689 .elementor-element.elementor-element-32963b36 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2689 .elementor-element.elementor-element-2e368c61 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2689 .elementor-element.elementor-element-484a5082 .elementor-heading-title{font-size:22px;}.elementor-2689 .elementor-element.elementor-element-484a5082 > .elementor-widget-container{padding:0% 0% 0% 0%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-484a5082{right:10%;}body.rtl .elementor-2689 .elementor-element.elementor-element-484a5082{left:10%;}.elementor-2689 .elementor-element.elementor-element-484a5082{top:35.5%;}.elementor-2689 .elementor-element.elementor-element-48811e40 .elementor-heading-title{font-size:22px;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-48811e40{right:10%;}body.rtl .elementor-2689 .elementor-element.elementor-element-48811e40{left:10%;}.elementor-2689 .elementor-element.elementor-element-48811e40{top:66%;}.elementor-2689 .elementor-element.elementor-element-10c80296{font-size:16px;top:40%;}body:not(.rtl) .elementor-2689 .elementor-element.elementor-element-10c80296{right:10%;}body.rtl .elementor-2689 .elementor-element.elementor-element-10c80296{left:10%;}.elementor-2689 .elementor-element.elementor-element-1a208e73{font-size:16px;top:72%;}.elementor-2689 .elementor-element.elementor-element-70754480 > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-2689 .elementor-element.elementor-element-333023c8 .elementor-heading-title{font-size:20px;}.elementor-2689 .elementor-element.elementor-element-5a6a25b6{font-size:16px;}.elementor-2689 .elementor-element.elementor-element-7353bec9{font-size:16px;}.elementor-2689 .elementor-element.elementor-element-c7ed72c{font-size:16px;}.elementor-2689 .elementor-element.elementor-element-f1f18e2 .elementor-heading-title{font-size:22px;}.elementor-2689 .elementor-element.elementor-element-f1f18e2{top:66%;}.elementor-2689 .elementor-element.elementor-element-2cc43a5 .elementor-heading-title{font-size:22px;}.elementor-2689 .elementor-element.elementor-element-2cc43a5{top:66%;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content .eael-timeline-title{font-size:32px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 > .elementor-widget-container{margin:0% 0% 0% 0%;}}@media(max-width:767px){.elementor-2689 .elementor-element.elementor-element-910f748{padding:100px 20px 0px 20px;}.elementor-2689 .elementor-element.elementor-element-32963b36 .elementor-heading-title{font-size:16px;}.elementor-2689 .elementor-element.elementor-element-32963b36 > .elementor-widget-container{margin:0px 0px 0px -17px;}.elementor-2689 .elementor-element.elementor-element-2e368c61 .elementor-heading-title{font-size:30px;}.elementor-2689 .elementor-element.elementor-element-718c7ac3{width:40%;}.elementor-2689 .elementor-element.elementor-element-69d1824f{width:20%;}.elementor-2689 .elementor-element.elementor-element-59333787{width:40%;}.elementor-2689 .elementor-element.elementor-element-6e5b7aa3{width:100%;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img{width:60px;height:60px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img i{font-size:0px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img .content-timeline-bullet-svg{height:0px;width:0px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img.eael-picture{border-width:0px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content .eael-timeline-title{font-size:30px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content{text-align:left;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content p{font-size:16px;}.elementor-2689 .elementor-element.elementor-element-2e458ef5 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0px 0px 0px 0px;}}/* Start custom CSS for heading, class: .elementor-element-32963b36 */.elementor-2689 .elementor-element.elementor-element-32963b36 h2{
    font-weight: 700;

background: linear-gradient(90deg, #CBFEFE 0%, #1CFCFC 48.13%, #10A1E8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
@media only screen and (max-width:768px){
   .elementor-2689 .elementor-element.elementor-element-32963b36 h2{
    font-weight: 700;
    letter-spacing: 0.2em!Important;
letter-spacing: 0.2em;
text-transform: uppercase;

background: linear-gradient(90deg, #CBFEFE 0%, #1CFCFC 48.13%, #10A1E8 100%)!important;
-webkit-background-clip: text!important;
-webkit-text-fill-color: transparent!important;
background-clip: text!important;
text-fill-color: transparent!important;
} 
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-484a5082 */.elementor-2689 .elementor-element.elementor-element-484a5082 h2{
   background: linear-gradient(90deg, #CBFEFE 0%, #1CFCFC 48.13%, #10A1E8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent!important;
background-clip: text!important;
text-fill-color: transparent!important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-48811e40 */.elementor-2689 .elementor-element.elementor-element-48811e40 h2{
   background: linear-gradient(90deg, #CBFEFE 0%, #1CFCFC 48.13%, #10A1E8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent!important;
background-clip: text!important;
text-fill-color: transparent!important;
}/* End custom CSS */
/* Start custom CSS for eael-content-timeline, class: .elementor-element-70754480 */.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-block:nth-child(5) {
    padding-bottom: 10rem!important;
}
.elementor-2689 .elementor-element.elementor-element-70754480 .eael-content-timeline-block:nth-child(1) {
    padding-bottom: 25rem!important;
}


.eael-content-timeline-block{
    padding-bottom: 35rem!Important;
}
.eael-content-timeline-block:last-child{
    padding-bottom: 0rem!important;
    display: none;
}

.eael-content-timeline-img{
    margin-left: -53px!important;
}
@media only screen and (max-width:1000px) {
    .eael-content-timeline-img{
    margin-left: 0!important;
}
 .eael-content-timeline-img{
    width: 62px;
    height: 62px;
    margin-left: -28px!important;
}
}
 .eael-content-timeline-img{
    border-radius: 0!Important;
    /*transform: rotate(45deg)*/
}


.elementor-186 .elementor-element.elementor-element-0e8c8bb .eael-content-timeline-line{
    background: linear-gradient(45deg, #0338D1 -261.57%, #1CFCFC -109.15%, #36FCFC -13.26%, #0495E7 90.82%);
}

.elementor-186 .elementor-element.elementor-element-0e8c8bb .eael-content-timeline-line .eael-content-timeline-inner{
    background: linear-gradient(45deg, #0338D1 -261.57%, #1CFCFC -109.15%, #36FCFC -13.26%, #0495E7 90.82%);
}
 .eael-content-timeline-block.eael-highlight .eael-content-timeline-img.eael-picture:nth-child(2){
    background-image: url("https://www.theweb3project.com/wp-content/uploads/2022/09/Group-1000002483.svg")!important;
    background-size: 60px 60px!important;
     background-repeat: no-repeat!important;
}


.eael-content-timeline-img.eael-picture:nth-child(2){
    background: #ffffff00!important;
     background-image: url("https://www.theweb3project.com/wp-content/uploads/2022/09/Group-1000002484.svg")!Important;
     background-size: 60px!important;
     background-repeat: no-repeat!important;
}
 .eael-content-timeline-img.eael-picture{
    border: none!important;
}
@media only screen and (min-width:1000px){
 .elementor-186 .elementor-element.elementor-element-0e8c8bb .eael-content-timeline-img{
    width: 62px;
    height: 62px;
    margin-left: -45px!Important;
}}

/*.eael-content-timeline-img:nth-child(){*/
/*  display: none !important; */
/*}*/

/*.eael-content-timeline-img.eael-picture:last-child{*/
/*  display: none  */
/*}*/
 .eael-content-timeline-img.eael-picture {
    box-shadow: none;
    border: none;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-333023c8 */.elementor-2689 .elementor-element.elementor-element-333023c8 h2{
   background: linear-gradient(90deg, #CBFEFE 0%, #1CFCFC 48.13%, #10A1E8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent!important;
background-clip: text!important;
text-fill-color: transparent!important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f1f18e2 */.elementor-2689 .elementor-element.elementor-element-f1f18e2 h2{
   background: linear-gradient(90deg, #CBFEFE 0%, #1CFCFC 48.13%, #10A1E8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent!important;
background-clip: text!important;
text-fill-color: transparent!important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-2cc43a5 */.elementor-2689 .elementor-element.elementor-element-2cc43a5 h2{
   background: linear-gradient(90deg, #CBFEFE 0%, #1CFCFC 48.13%, #10A1E8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent!important;
background-clip: text!important;
text-fill-color: transparent!important;
}/* End custom CSS */
/* Start custom CSS for eael-content-timeline, class: .elementor-element-2e458ef5 */.eael-content-timeline-content {
    color: #BBCCDB;
}

.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-content {
    text-align: left;
    margin-left: 60px!Important;
    margin-top: 0px!Important;
}

.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-block{
    padding-bottom: 2rem!Important;
}
.eael-content-timeline-block:last-child{
    padding-bottom: 0rem!important;
    display: none;
}

.elementor-2689 .elementor-element.elementor-element-2e458ef5 .eael-content-timeline-img{
    margin-left: -8px!important;
}
@media only screen and (max-width:1000px) {
    .eael-content-timeline-img{
    margin-left: 0!important;
}
 .eael-content-timeline-img{
    width: 62px!important;
    height: 62px!important;
   margin-top: -8px!important;
}
}
 .eael-content-timeline-img{
    border-radius: 0!Important;
    /*transform: rotate(45deg)*/
}

.eael-content-timeline-line{
    background: linear-gradient(45deg, #0338D1 -261.57%, #1CFCFC -109.15%, #36FCFC -13.26%, #0495E7 90.82%)!important;
}

 .eael-content-timeline-line .eael-content-timeline-inner{
    background: linear-gradient(45deg, #0338D1 -261.57%, #1CFCFC -109.15%, #36FCFC -13.26%, #0495E7 90.82%)!important;
}
 .eael-content-timeline-block.eael-highlight .eael-content-timeline-img.eael-picture:nth-child(2){
    background-image: url("https://www.theweb3project.com/wp-content/uploads/2022/09/Group-1000002483.svg")!important;
    background-size: 60px 60px!important;
     background-repeat: no-repeat!important;
}


.eael-content-timeline-img.eael-picture:nth-child(2){
    background: #ffffff00!important;
     background-image: url("https://www.theweb3project.com/wp-content/uploads/2022/09/Group-1000002484.svg")!Important;
     background-size: 60px!important;
     background-repeat: no-repeat!important;
}
 .eael-content-timeline-img.eael-picture{
    border: none!important;
}
@media only screen and (min-width:1000px){
 .elementor-186 .elementor-element.elementor-element-0e8c8bb .eael-content-timeline-img{
    width: 62px;
    height: 62px;
    margin-left: -45px!Important;
}}

/*.eael-content-timeline-img:nth-child(){*/
/*  display: none !important; */
/*}*/

/*.eael-content-timeline-img.eael-picture:last-child{*/
/*  display: none  */
/*}*/
.eael-timeline-title{
    
    background: linear-gradient(90.25deg, #FFFFFF -300.8%, #1CFCFC 72.17%, #0338D1 10.94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

 .eael-content-timeline-img.eael-picture {
    box-shadow: none;
    border: none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3ef6a9d1 */@media only screen and (min-width:900px) {
    .elementor-2689 .elementor-element.elementor-element-3ef6a9d1{
    display:none!important;
}}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-910f748 */span.roadmap-active {
    background: linear-gradient(94deg, #0338D1 -40.71%, #1CFCFC 29.81%, #0338D1 135.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS */.background {
    background-image: radial-gradient(88.71% 158.58% at -3.33% -1.66%, #000936 22.7%, #0E0E18 100%)!important;
    z-index: 3;
    
}
body {
    background-image: radial-gradient(88.71% 158.58% at -3.33% -1.66%, #000936 22.7%, #0E0E18 100%)!important;
    z-index: 3;
    overflow-x: hidden;
    
}/* End custom CSS */